@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap');

/*  global values are in main css file  */
.all-page{
    width: 100%;
    min-height: 100vh;
    background-image: url(../image/body-login.jpg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-page .page{
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
}
.all-page .page .part-one{
    flex-basis: 50%;
    min-height: 100%;
    background-image: url(../image/part-one.jpeg);
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
}
.all-page .page .part-one .details{
    min-height:100% ;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}
.all-page .page .part-one .details h2{
    font-family: 'Playwrite VN';
    width: fit-content;
    font-size: 35px;
    margin-bottom: 50px;
}
.all-page .page .part-one .details p{
    width: 85%;
    text-align: center;
    font-size: 15px;
}
.all-page .page .part-one .hover-button{
    width: 100px;
    position: relative;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
    display: flex;
}
.all-page .page .part-one .hover-button span{
    display: block;
    width: 15px;
    height: 15px;
    background-color:rgb(255, 255, 255 , .5);
    border-radius: 50%;
    animation: move 1.4s linear 0s infinite alternate;
}
.all-page .page .part-one .hover-button span:not(:last-child){
    margin-right: 5px;
}
.all-page .page .part-one .hover-button span:nth-child(2){
    animation-delay: .4s;
}
.all-page .page .part-one .hover-button span:nth-child(3){
    animation-delay: .8s;
}
.all-page .page .part-one .hover-button span:nth-child(4){
    animation-delay: 1.2s;
}
@keyframes move {
    from{
        transform: translatey(0px);
    }
    to{
        transform: translateY(15px);
        opacity: .3;
    }
}
.all-page .part-two{
    flex-basis: 50%;
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}
.all-page .part-two .details h2{
    width: fit-content;
    margin: 30px 0 60px;
    width: fit-content;
    font-size: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Playwrite VN", serif;
    font-weight: 900;
    color: var(--maincolor);
}
.all-page .part-two .details p{
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--mainfont);
    color: #999;
    font-weight: 700;
}
.all-page .part-two .forme{
    position: relative;
    padding-top: 50px;
    width: 100%;
}
.all-page .part-two .forme div{
    position: relative;
}
.all-page .part-two .forme .one{
    margin-bottom: 50px;
}
.all-page .part-two .forme div label{
    position: absolute;
    left: 20%;
    top: -5px;
    transition: .8s;
}
.all-page .part-two .forme div input{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    border: none;
    border-bottom: 3px solid #e2e1e1;
    caret-color: var(--maincolor);
    color: var(--maincolor);
}
.all-page .part-two .forme input:focus + label ,
.all-page .part-two .forme input:valid + label
{
    position: absolute;
    top: -30px;
    color: #888;
}
.all-page .part-two .forme .forget{
    position: absolute;
    right: 20%;
    color: #999;
    margin-top: 10px;
    font-size: 13px;
    cursor: pointer;
    transition: var(--transition);
}
.all-page .part-two .forme .forget:hover{
    color: var(--maincolor);
}
.all-page .part-two .forme .submit{
    position: relative;
    margin-top: 70px;
    margin-bottom: 30px;
}
.all-page .part-two .forme .submit input{
    cursor: pointer;
    width: 100px;
    padding: 5px 10px;
    outline: none;
    border: 2px solid ;
    background-color: #e1e1e1;
    color: black;
    border-radius: 10px;
    font-weight: 600;
    transition: var(--transition);
}
.all-page .part-two .forme .submit input:hover{
    color: var(--maincolor);
    background-color: white;
    font-weight: 600;
    border: 2px solid var(--maincolor);
}
.all-page .part-two .footer-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.all-page .part-two .footer-form .or{
    color: var(--thirdcolor);
    margin-bottom: 70px;
}
.all-page .part-two .footer-form .or::before{
    content: "";
    width: 35%;
    height: 3px;
    background-color: var(--thirdcolor);
    position: absolute;
    right: 30px;
    top: 10px;
}
.all-page .part-two .footer-form .or::after{
    content: "";
    width: 35%;
    height: 3px;
    background-color: var(--thirdcolor);
    position: absolute;
    left: 30px;
    top: 10px;
}
.all-page .part-two .footer-form .google{
    display: flex;
}
.all-page .part-two .footer-form .google i{
    margin-right:10px ;
    font-size: 15px;
}
.all-page .part-two .footer-form .google p{
    font-size: 15px;
    color: #555;
    cursor: pointer;
}
.all-page .part-two .footer-form .google p:hover{
    color: var(--maincolor);
    transition: var(--transition);
}
@media (max-width: 767px){
    .all-page .container{
        width: 90%;
    }
    .all-page .part-one{
        display: none;
    }
    .all-page .part-two{
        flex-basis: 100%;
        width: 100%;
    }
    .all-page .part-two .forme div input{
        width: 80%;
    }
    .all-page .part-two .forme div label{
        left: 10%;
    }
    .all-page .part-two .forme .forget{
        right: 10%;
    }
}
/* end of login page */