.second-welcome{
    width: 100%;
    background-image: url(../image/vaza.jpg);
    background-size: cover;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-welcome .second-detail{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--fourthcolor);
    padding: 10px 15px;
}
.second-welcome .second-detail h1{
    font-size: 40px;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
.second-welcome .second-detail p{
    color:black;
    font-size: 25px;
    font-family: var(--mainfont);
    margin-left: 5%;
    color: var(--maincolor);
    font-weight: 700;
    text-align: center;
}
/* start media header */
/* phone */
@media (max-width:767px){
    .second-welcome .second-detail h1{
        font-size: 20px;
    }
    .second-welcome .second-detail p{
        font-size: 15px;
        margin: 0;
    }
}
/* end header section  */
/* ================================================================================== */
/*  start second-paper section */
.second-paper{
    padding: 80px 0;
    width: 100%;
    display: flex;
    background-color: var(--fourthcolor);
}
.second-paper .second-paper-details{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}
.second-paper .second-paper-details .paragraph{
    flex-basis: 67%;
}
.second-paper .second-paper-details .paragraph .p1{
    font-family: var(--mainfont);
    font-size: 25px;
    margin-bottom: 20px;
    padding-bottom: 80px;
    position: relative;
    font-weight: 600;
    text-align: justify;
    transition: var(--transition);
}
.second-paper .second-paper-details .paragraph .p1::after{
    content: "";
    width: 40%;
    height: 5px;
    background-color: var(--maincolor);
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 10px;
}
.second-paper .second-paper-details .paragraph .p2{
    font-family: var(--mainfont);
    font-size: 20px;
    text-align: justify;
    color: #777;
    transition: var(--transition);
}
.second-paper .second-paper-details .paragraph p:hover{
    color: var(--maincolor);
}
.second-paper .second-paper-details .Category{
    width: 100%;
    flex-basis: 23%;
    position: relative;
    box-shadow: 5px 5px 10px 2px #d7d7d7;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second-paper .second-paper-details .Category > div:not(:first-child){
    position: relative;
}
.second-paper .second-paper-details .Category > div h3{
    margin-bottom: 10px;
    font-weight: 700;
}
.second-paper .second-paper-details .Category > div p{
    color: #777;
}
@media (max-width: 992px){
    .second-paper .second-paper-details .paragraph{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .second-paper .second-paper-details .Category{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        min-height: 300px;
        flex-basis: 30%;
    }
}
/*  end second-paper section */
/* ======================================================================================== */
/* strat main4-5-paper section */
.main4-5-paper{
    width: 100%;
    background-color: var(--fifthcolor);
    padding: var(--padding) 0px;
}
.main4-5-paper .main4-5-paper-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}
.main4-5-paper .main4-5-paper-content .paragraph{
    position: relative;
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.main4-5-paper .main4-5-paper-content .paragraph p{
    font-size: 20px;
}
.main4-5-paper .main4-5-paper-content .paragraph p:hover{
    color: var(--maincolor);
    transition: 1s;
}
.main4-5-paper .main4-5-paper-content .image {
    position: relative;
    flex-basis: 35%;
}
.main4-5-paper .main4-5-paper-content .image img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
/* Different formats */
.Fifth-paper{
    background-color: var(--fourthcolor);
}
@media (max-width:992px){
    .main4-5-paper .main4-5-paper-content .image img{
        display: none;

    }
    .main4-5-paper .main4-5-paper-content .paragraph{
        flex-basis: 100%;
    }
}
/* end main4-5-paper section */
/* ======================================================================================= */
/* start login-paper  */
.login-paper{
    width: 100%;
    padding: 70px 0px 30px;
}
.login-paper .container .log{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-paper .container .log h1{
    font-size: 100px;   
    color: var(--maincolor);
    font-weight: 900;
    letter-spacing: 2px;
}
.login-paper .container .log a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--fourthcolor);
    border: 1px solid var(--maincolor);
    color: black;
    transition: var(--transition);
}
.login-paper .container .log a:hover{
    color: var(--maincolor);
}
@media (max-width:767px){
    .login-paper .container .log h1{
        font-size: 70px;
    }
    .login-paper .container .log button{
        padding: 5px 10px;
        font-size: 14px;
    }
}
/* end login-paper  */
/* ======================================================================================= */
/* footer formating in main css file */
footer .menu-bar{
    position: absolute;
    bottom: 10px;
}

footer .menu-bar a{
    text-decoration: none;
    font-family: var(--mainfont);
    font-size: 15px;
    color: white;
    font-weight: 100;
}

/* start of menu  */
.end-form-all input{
    visibility: hidden;
    display: none;
}
.end-form-all label{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    background-color: var(--maincolor);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0;
}
.end-form{
    width: 300px;
    margin: auto;
    background-color: rgb(44, 71, 85);
    position: relative;
    display: none;
}
.end-form-all input:checked  ~ .end-form{
    display: block;
}
.end-form ul {
    list-style-type:none ;
    margin: 0;
    padding: 0;
}
.end-form ul li a{
    text-decoration: none;
    color: white;
    transition: var(--transition);
    position: relative;
}
.end-form ul li:not(:last-child){
    margin-bottom: 15px;
}
.end-form .login-content{
    padding: 20px;
}
.end-form .menu-all{
    margin-bottom: 40px;
}
.end-form .menu-all .head-all {
    margin-bottom: 20px;
    color: #637988;
    font-size: 25px;
}
.end-form ul li a:hover{
    color: var(--maincolor);
    left: 7px;
}
.end-form .menu-all2 h3,
.end-form .menu-all3 h3{
    font-size: 20px;
    color: #637988;
    margin-bottom: 20px;
}
.end-form .menu-all2 a{
    display: inline-block;
    background-color: var(--maincolor);
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}
.end-form .login-content .Rights{
    color: #708a9b;
    font-size: 10px;
    margin: 20px 0 0;
}
/* end of menu  */
/* ======================================================================== */
/* end of second-bage  */