
/*  start global value */

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

:root{
    --maincolor:#10cab7;
    --secondcolor:#26D381;
    --thirdcolor:#00E1FF;
    --fourthcolor:#EEE;
    --fifthcolor:#e1dfdf;
    --mainfont: "Work Sans", serif;
}

/* small */

@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

/* meduim */

@media (min-width: 992px){
    .container{
        width: 950px;
    }
}

/* large */

@media (min-width: 1200px){
    .container{
        width:1170px;
    }
}

/* start my framwork title of the bage */

.bage-title-all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.bage-head-title{
    font-family: var(--mainfont);
    font-size: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 900;
    opacity: .1;
}

.abge-para-title{
    position: absolute;
    bottom: 80px;
    font-size: 20px;
    opacity: .7;
}

/* end my framwork title of the bage */

::selection{
    background-color: #ff4081;
    color: #ffffff;
}

/*  end global value */

/* ===================================================================================================== */

/*  start header */
.header{
    padding: 20px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.all{
    width: 80%;
    position: relative;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    border-radius: 10px;
    padding-bottom: 0px;
    background-color: var(--fourthcolor);
    box-shadow:0 0 15px 10px var(--fifthcolor) ;
    z-index: 100;
}

.header .all{
    position: fixed;
    top: -5px;
}

.header .all .logo{
    width: 70px;
}

.header .all .icon{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 30px;
    position: relative;
}

.header .all .links{
    position: relative;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
}

.header .all .links .icon span{
    width:100%;
    height: 4px;
    display: block;
    background-color: black;
    margin-bottom:4px;
    border-radius: 5px; 
}

.header .all .icon span:nth-child(2){
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.header .all .icon:hover span:nth-child(2){
    width: 100%;
    transition: .5s;
}

.header .all .links ul{
    list-style: none;
    background-color: var(--fourthcolor);
    min-width: 150px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    padding: 10px;
    top: 40px;
    border-radius: 5px;
    display: none;
}

.header .all .links ul::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    left: 127px;
    top: -15px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    border-width: 10px;
}

.header .all .links ul  li a{
    text-decoration: none;
    display: block;
    font-family:Arial;
	color:var(--secondcolor);
	font-size:15px;
    padding: 10px;
}

.header .all .links ul  li a:hover{
    color: var(--thirdcolor);
    transform: translateX(10px);
    transition-duration: .5s;
}

.header .all .links ul  li:not(:last-child){
    border-bottom: 3px solid #e1dfdf;
}

.header .all .links:hover ul{
    display: block;
    transition: 3s;
}

.welcome{
    width: 100%;
    background-image: url(../image/header.jpg);
    background-size: cover;
    height: calc(100vh - 68px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome .detail{
    text-align: center;
}

.welcome .detail h1{
    color: #10cab7;
    font-size: 70px;
    font-family: var(--mainfont);
}

.welcome .detail p{
    color:black ;
    font-size: 25px;
    min-width: 50%;
    font-family: "Work Sans", serif;
    margin-top: 20px;
}

@media (max-width: 768px){
    .welcome .detail h1{
        font-size: 55px;
    }
}


/*  end header */

/* =============================================================================================================== */

/* start header section  */

.header-section{
    width: 100%;
    height: 50vh;
}

.header-section .content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
}

.header-section .content .card{
    width: calc(80% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header-section .content .card i{
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--maincolor);
    margin-bottom: 30px;
}

.header-section .content > div{
    padding: 20px;
    box-shadow: 0px 20px 20px 10px var(--fifthcolor);
}

.header-section .content .three{
    width: 25%;
}

.header-section .content .card  h3{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--mainfont);
    font-weight: 800;
}

.header-section .content .card p{
    font-size: 15px;
    text-align: center;
    width: 80%;
    opacity: .5;
}

.header-section .content .card:hover{
    box-shadow: 0 0 15px 10px var(--fifthcolor);
    padding: 15px;
    border-radius: 20px;
    transition: 1s;
}

/*  start media header section  */

/* phone */

@media (max-width: 767px){
    .header-section{
        width: 100%;
        height: 110vh;
    }
    .header-section .content {
        display: block;
    }
    .header-section .content .card{
        width: 100%;
        margin-bottom: 50px;
        border-radius: 10px;
        box-shadow:0 0 15px 10px var(--fifthcolor) ;
        padding: 15px;
    }
}

/* small */

@media (min-width: 768px) and (max-width: 991px) {
    .header-section{
        width: 100%;
        height: 100vh;
    }
    .header-section .content {
        display: block;
    }
    .header-section .content .card{
        width: 100%;
        margin-bottom: 50px;
        border-radius: 10px;
        box-shadow:0 0 15px 10px var(--fifthcolor) ;
        padding: 15px;
    }
}

/* meduim */

@media (min-width: 992px) and (max-width: 1199px){
    .header-section{
        width: 100%;
        height: 60vh;
    }
    .header-section .content {
        display: flex;
        flex-wrap: wrap;
    }
    .header-section .content .card{
        width: calc(50% - 30px);
        margin-bottom: 50px;
        border-radius: 10px;
        box-shadow:0 0 15px 10px var(--fifthcolor) ;
        padding: 15px;
    }
    .header-section .content .one{
        margin-right: 30px;
    }
    .header-section .content .two{
        margin-left: 30px;
    }
    .header-section .content .three{
        width: 80%;
        margin: auto;
    }
}

/* large */

@media (min-width: 1200px){
}


/*  end media header section  */

/* end header section  */

/* =============================================================================================================== */


/* start Services section */

.Services{
    width: 100%;
    height: 100vh;
}

/* title of the bage by framfork */

.Services .container .Services-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:20vh 20vh  ;
    margin-top:140px ;
}

.Services .container .Services-body .element1 , .element2{
    grid-column: 1 / 2;
}

.Services .container .Services-body .element3 , .element4{
    grid-column: 2 / 3;
}

.Services .container .Services-body .element3{
    grid-row: 1 / 2;
}

.Services .container .Services-body  .Services-imge{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    position: relative;
}

.Services .container .Services-body .element{
    width: 200px;
    display: flex;
    position: relative;
}

.Services .container .Services-body .element:hover h3{
    color: var(--maincolor);
    transition: .7s;
}

.Services .container .Services-body .element:hover p{
    opacity: .5;
    transition: .7s;
}

.Services .container .Services-body .element i{
    font-size: 40px;
    color: var(--maincolor);
    margin-right: 20px;;
}

.Services .container .Services-body .element .Services-head,.Services-para{
    position: absolute;
} 

.Services .container .Services-body .element .Services-head{
    width: 100%;
    left: 80px;
    top: 0px;
    font-family: var(--mainfont);
    font-weight: 900;
}

.Services .container .Services-body .element .Services-para{
    width: 100%;
    top: 40px;
    left: 80px;
    opacity: .7;
}

.Services .container .Services-img{
    width: 200px;
    height: 250px;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    left: 40px;
    border-radius: 5px;
}

.Services .container .Services-imge::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 320px;
    background-color: rgb(43, 69, 89);
    top: 40%;
    transform: translateY(-50%);
    z-index: -100;
    border-radius: 5px;
}

/*  start media section  */

/* phone */

@media(max-width: 767px){
    .Services .container .Services-body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:20vh 20vh 20vh 20vh ;
        margin-top:90px ;
    }
    
    .Services .container .Services-body .element1 , .element2{
        grid-column: 2 / 4;
    }
    .Services .container .Services-body .element1{
        grid-row: 1 / 2;
    }
    .Services .container .Services-body .element2{
        grid-row: 2 / 3;
    }
    .Services .container .Services-body .element3 , .element4{
        grid-column: 2 / 4;
    }
    .Services .container .Services-body .element3{
        grid-row: 3 / 4;
    }
    .Services .container .Services-body .element4{
        grid-row: 4 / 5;
    }
    .Services .container .Services-body  .Services-imge{
        display: none;
    }
    .Services .container .Services-body .element{
        position: relative;
        left: 35%;
        transform: translateX(-50%);
        margin-bottom: 50px;
    }
    .Services .container .Services-body .element:hover h3{
        color: var(--maincolor);
        transition: .7s;
    }
    .Services .container .Services-body .element:hover p{
        opacity: .5;
        transition: .7s;
    }
    .Services{
        height: 120vh;
    }
    .Services .container .title h1{
        font-size: 80px;
    }
    .Services .container .title p{
        bottom: 55px;
    }
}

/* small */

@media (min-width: 768px) and (max-width: 991px){
    .Services .container .Services-body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:20vh 20vh  ;
        margin-top:140px ;
    }
    .Services .container .Services-body .element1 , .element2{
        grid-column: 1 / 3;
    }
    .Services .container .Services-body .element3 , .element4{
        grid-column: 3 / 5;
    }
    .Services .container .Services-body .element3{
        grid-row: 1 / 2;
    }
    .Services .container .Services-body  .Services-imge{
        display: none;
    }
}

/* meduim */

@media (min-width: 992px) and (max-width: 1199px){   
}

/* large */

@media (min-width: 1200px){
}

/* end Services section */

/* =============================================================================================================== */

/*start Portfolio section */

.portfolio{
    width: 100%;
    height: 100vh;
    background-color: var(--fourthcolor);
}

/* title of the bage by framfork */

.portfolio .container .portfolio-body{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
    margin-top: 50px;
    perspective: 500px;  
} 

.portfolio .container .portfolio-body .portfolio-card{
    transform-style: preserve-3d;
    transition-duration: 1s; 
    position: relative;
    width: 300px;
    height: 300px;
}

.portfolio .container .portfolio-body .portfolio-card .front{
    width: 100%;
    height: 100%;
    background-color: rgb(245, 244, 244);
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
}

.portfolio .container .portfolio-body .portfolio-card .front .portfolio-imge{
    width: 100%;
    height:200px;
    border-radius: 10px;
    opacity: .8;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.portfolio .container .portfolio-body .portfolio-card .front h3{
    display: flex ;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    margin: 15px 0px;
    font-family: var(--mainfont);
    font-weight: 800;
    margin-left: 15px;
}

.portfolio .container .portfolio-body .portfolio-card .front p{
    opacity: .7;
    width: 270px;
    margin: 15px 0px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 15px;
}

.portfolio .container .portfolio-body .portfolio-card .back{
    width: 100%;
    height: 100%;
    background-color: rgb(245, 244, 244);
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.portfolio .container .portfolio-body .portfolio-card .back h3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 30px;
    font-family: var(--mainfont);
    font-weight: 600;
}

.portfolio .container .portfolio-body .portfolio-card .back p{
    text-align: center;
    opacity: .7;
}

.portfolio .container .portfolio-body .portfolio-card:hover {
    transform: rotatey(180deg);
    transition: 1s;
}

.portfolio .container .view{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .container .view button{
    width: 150px;
    height: 30px; 
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
}

.portfolio .container .view button:hover{
    color: var(--maincolor);
    background-color: var(--fourthcolor);
    transition: .5s;
}

/*  start media portfolio section  */

/* small */

@media (max-width: 991px){
    .portfolio .container .portfolio-body{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: repeat(3 , 1fr);
        gap: 30px;
        margin-top: 50px;
        perspective: 500px;
    } 
    .portfolio .container .portfolio-body .cards1{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .portfolio .container .portfolio-body .cards2{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .portfolio .container .portfolio-body .cards3{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .portfolio .container .portfolio-body{
        margin-top: 0;
    }
    .portfolio{
        height: 170vh;
    }
    .portfolio .container .title h1{
        font-size: 80px;
    }
    .portfolio .container .title p{
        bottom: 55px;
    }
}

/* meduim */

@media (min-width: 992px) and (max-width: 1199px){   
    .portfolio .container .portfolio-body{
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        grid-template-rows: 1fr 1fr ;
        gap: 30px;
        margin-top: 50px;
        perspective: 500px;
    } 
    .portfolio .container .portfolio-body .cards1{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .portfolio .container .portfolio-body .cards2{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .portfolio .container .portfolio-body .cards3{
        grid-column: 2/4;
        grid-row: 2/3;
        left: 50%;
        transform: translateX(-50%);
    }
    .portfolio{
        height: 160vh;
    }
}

/* large */

@media (min-width: 1200px){
}

/*  end media portfolio section  */

/*end Portfolio section */

/* =============================================================================================================== */

/* start about section  */

.about{
    width: 100%;
    height: 100vh;
}

/* title of the bage by framfork */

.about-content{
    display: grid;
    grid-template-columns: span(auto-fill , minmax(200px , 1fr));
    gap: 20%;
    margin-top: 50px;
}

.about-content .about-image{
    grid-column: 1/2;
}

.about-content .about-detail{
    grid-column: 2/4;
}

.about-content .about-image{
    width: 100%;
    height: 250px;
    position: relative;
}

.about-content .about-image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.about-content .about-image::after{
    content: "";
    width: 70px;
    height: 80%;
    position: absolute;
    top: -20px;
    right: -30px;
    z-index: -100;
    background-color: var(--maincolor);
    border-radius: 5px;
}

.about-content .about-image::before{
    content: "";
    width: 100px;
    height: 60px;
    position: absolute;
    bottom: 20%;
    right: -100px;
    background-color: var(--maincolor);
    border-radius: 5px;
}

.about-content .about-detail{
    width: 500px;
    position: relative;
}

.about-content .about-detail .p1{
    width: 75%;
    margin-bottom: 100px ;
    font-size: 17px;
    font-weight: 500;
}

.about-content .about-detail .p2{
    width: 80%;
    font-size: 14px;
    opacity: .5;
}

.about-content .about-detail  .p1:hover{
    color: var(--maincolor);
    transition: .5s;
    font-size: 20px;
    width: 90%;
}

.about-content .about-detail .p2:hover{
    color: var(--maincolor);
    transition: .5s;
    font-size: 17px;
    width: 90%;
    opacity: 1;
}

.about-content .about-detail::after{
    content: "";
    width: 200px;
    height: 4px;
    background-color: var(--maincolor);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* start about media */

/* phone */

@media (max-width: 767px){
    .about-content .about-image {
        display: none;
    }
    .about-content{
        display: grid;
        grid-template-columns:auto 1fr auto;
        gap: 10%;
        margin-top: 50px;
    
    }  
    .about-content .about-detail{
        grid-column: 2/3;
        width: 100%;
    }
    .about .container .title h1 {
        font-size: 80px;
    }
    .about .container .title p{
        bottom: 60px;
    }
    .about-content .about-detail .p1{
        width: 90%;
        font-size: 15px;
    }
    .about-content .about-detail .p2{
        width: 90%;
    }
    .about{
        height: 80vh;
    }
}

/* small */

@media (min-width: 768px) and (max-width: 991px){
    .about-content .about-image {
        display: none;
    }
}

/* meduim */

@media (min-width: 992px){
}

/* large */

@media (min-width: 1200px){
}

/* end about media */

/* end about section */

/* =============================================================================================================== */

/* start contact section */

.contact{
    width: 100%;
    height: 550px;
    background-color: var(--fourthcolor);
}

.contact .contact-content{
    width: 100%;
    margin-top: 40px;
}

.contact .contact-content .p1{
    font-size: 50px;
    font-family: var(--mainfont);
    font-weight: 700;
    color: rgb(48, 60, 66);
    margin-bottom: 10px;
}

.contact .contact-content .p1:hover{
    color: var(--maincolor);
    transition: .5s;
}

.contact .contact-content .p2{
    font-size: 40px;
    text-indent: 40px;
    font-family: var(--mainfont);
    font-weight: 600;
    color: var(--maincolor);
    text-shadow: 0px 0px 5px var(--thirdcolor);
    margin-top: 10px;
}

.contact .contact-content .p2:hover{
    color:rgb(48, 60, 66) ;
    transition: .5s;
    text-shadow: 0px 0px 5px rgb(48, 60, 66);
}

.contact .contact-content .social {
    text-indent: 80px;
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.contact .contact-content .social .p3{
    font-size: 12px;
}

.contact .contact-content .social .icon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.contact .contact-content .social .icon > i:hover{
    color: var(--maincolor);
    transition: .5s;
    font-size: 25px;
    width: 40px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: rgb(41, 70, 87);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .foot p{
    color: white;
    align-self: center;
    font-size: 15px;
    font-weight: 500;
    font-family: var(--mainfont);
}

/* start media section */

/* phone */

@media (max-width: 767px){
    .contact .contact-content .p1{
        font-size: 30px;
    }
    .contact .contact-content .p2{
        font-size: 20px;
    }
    .contact .contact-content .social .p3{
        font-size: 10px;
        display: none;
    }
    .contact .contact-content .social .icon{
        display: none;
    }
    .contact .container .title h1{
        font-size: 80px;
    }
    .contact .container .title p{
        bottom: 60px;
    }
}

/* small */

@media (min-width: 768px) and (max-width: 900px){
    .contact .contact-content .p1{
        font-size: 40px;
    }
    .contact .contact-content .p2{
        font-size: 30px;
    }
    .contact .contact-content .social .p3{
        font-size: 10px;
    }
}

/* meduim */

@media (min-width: 992px){
}

/* large */

@media (min-width: 1200px){

}
/* end media section */

/* end contact section */

/* ===================================================================================================================== */

/* end of the firt bage  */

/* ======================================================================================================================= */
